@import "tailwindcss";

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@layer components {
    .skeleton-shimmer {
        @apply absolute inset-0 bg-gradient-to-r from-transparent via-white/60 to-transparent;
        animation: shimmer 2s infinite;
    }
    .skeleton-wrapper {
        @apply rounded-lg bg-gradient-to-r from-gray-200 via-gray-100 to-gray-200 relative overflow-hidden
    }
}



